{% extends 'base.html' %}

{% block head %}
<title>Shop24!</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Order Product</h1>

    <div class="form">
        <form action="/order/{{ord.id}}" method="POST">
            <h4>Do you want to pay extra for priority shipping?</h4>
            <input type="checkbox" name="order_priority"><span style="color:white;">Check for priority shipping.</span><br>
            <input type="submit" value="Confirm Order">
        </form>
    </div>
</div>
{% endblock %}