{% extends 'base.html' %}

{% block head %}
<title>Shop24!</title>
{% endblock %}

{% block body %}
<div class="topnav">
    <a href="/">Products</a>
    <a href="{{ url_for('vendors') }}">Vendors</a>
    <a href="{{ url_for('orders') }}">Orders<span class="employee_view">(admin only)</span></a>
    <a href="{{ url_for('customers') }}">Customers</a>
    <a href="{{ url_for('profile') }}">Profile</a>
    <a class="active" href="{{ url_for('contact') }}">Contact</a>
</div>
<div class="content">
    <h1 style="text-align: center">We're grateful you shopped with us.</h1>
    <h3 style="text-align: center"><em>Let us know if there was a problem with your<br>order or how we can better serve you.</em></h3>
    <div style="padding-left: 30%; padding-right: 30%;">
        <table>
            <tr>
                <td>Phone: </td><td>541-737-5555</td>
            </tr>
            <tr>
                <td>Email: </td><td>info@shop24.com</td>
            </tr>
            <tr>
                <td>Twitter: </td><td>@OfficialShop24</td>
            </tr>
        </table>
    </div>

</div>
{% endblock %}
