{% extends 'base.html' %}

{% block head %}
<title>Shop24!</title>
{% endblock %}

{% block body %}
<div class="topnav">
    <a class="active" href="/">Products</a>
    <a href="vendors">Vendors</a>
    <a href="cameras.html">Profile</a>
    <a href="make_model.html">Contact</a>
</div>
<div class="content">
    <h1 style="text-align: center">Welcome to Shop24</h1>
    <h3 style="text-align: center"><em>A simplified eCommerce Experience</em></h3>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no products for sale.<br>(If you're a siteowner or vendor you may add them below)</h4>
    {% else %}
    
    <table>
        <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Price</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.product_name }}</td>
                <td>{{ task.product_description }}</td>
                <td>${{(task.product_price)/100 }}</td>
                <td>{{ task.date_created.date() }}</td> <!--should perhaps not be visible to custoemrs-->
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td> <!--should perhaps not be visible to custoemrs-->
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <h4>Add Product by completing the form below</h4>
            <input type="text" name="product_name" id="content" placeholder="Product name">
            <input type="text" name="product_description" id="content" placeholder="Description of product">
            <input type="text" name="product_price" id="content"placeholder="Price of product"><br>
            <input type="submit" value="Add Product">
        </form>
    </div>
</div>
{% endblock %}