{% extends 'base.html' %}

{% block head %}
<title>Shop24!</title>
{% endblock %}

{% block body %}
<div class="topnav">
    <a href="/">Products</a>
<a href="{{ url_for('vendors') }}">Vendors</a>
<a href="{{ url_for('category') }}">Categories</a>
<a class="active" href="{{ url_for('orders') }}">Orders<span class="employee_view">(admin only)</span></a>
<a href="{{ url_for('customers') }}">Customers</a>
<a href="{{ url_for('profile') }}">Profile</a>
<a href="{{ url_for('contact') }}">Contact</a>
<a href="{{ url_for('logout') }}">Logout</a>
</div>
<div class="content">
    <h1 style="text-align: center">Orders</h1>
    <h3 style="text-align: center"><em>A simplified eCommerce Experience</em></h3>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">No orders have been placed yet.</h4>
    {% else %}
    
    <table>
        <tr>
            <th>Shipment Priority</th>
            <th>Order #</th>
            <th>Customer Name</th>
            <th>Order Date</th>
            <th>Order Detail</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.shipment_priority }}</td>
                <td>{{ task.id }}</td>
                <!-- <td>{{ task.customer_id }}</td> -->
                {% for customer in customers %}
                    {% if customer.id == task.customer_id %}
                        <td>{{ customer.first_name}} {{ customer.last_name }}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ task.order_date }}</td>
                <td>
                    <form action="/order_product" method="GET">
                        <input type="hidden" name="id" value="{{task.id}}">
                        <button type="submit">View</button>
                    </form>
                </td>
                <td>
                    <a href="/orders/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/orders/update/{{task.id}}">Update</a>
                </td> <!--should perhaps not be visible to custoemrs-->
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    


    <div class="form">
        <form action="/orders" method="POST">
            <h4>Add an order by completing the form below. Existing customers are needed to place an order.</h4>
            <select name="customer_id" id="">
                {% for customer in customers %}
                    <option value="{{ customer.id }}">{{ customer.first_name}} {{ customer.last_name }}</option>
                {% endfor %}
            </select>
            <input type="number" name="shipment_priority" id="content" placeholder="Shipment Priority">

            <input type="submit" value="Add Order">
        </form>
    </div>
    <a href="orderhistory" style="font-size: 10pt;">order history</a>
</div>
{% endblock %}
