{% extends 'base.html' %}

{% block head %}
<title>Shop24!</title>
{% endblock %}

{% block body %}
<div class="topnav">
    <a href="/">Products</a>
    <a href="vendors">Vendors</a>
    <a class="active" href="profile">Profile</a>
    <a href="contact">Contact</a>
    <a href="orders">Orders<br><span class="employee_view">(admin only)</span></a>
    <a href="customers">Customers<br><span class="employee_view">(admin only)</span></a>
</div>
<div class="content">
    <h1 style="text-align: center">Your Shop24 Profile</h1>
    <h3 style="text-align: center"><em>This page has not been created yet</em></h3>
</div>
{% endblock %}
