{% extends 'base.html' %}

{% block head %}
<title>Shop24!</title>
{% endblock %}

{% block body %}
<div class="topnav">
    <a class="active" href="/">Products</a>
    <a href="vendors">Vendors</a>
    <a href="orders">Orders</a>
    <a href="contact.html">Contact</a>
</div>

    <h1>Registration</h1>
    <div class="form">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="container">
                <p>
                    {{ form.username(placeholder="Username") }}
                </p>
                <p>
                    {{ form.password(placeholder="Password") }}
                </p>
                <p>
                    {{ form.email(placeholder="Email") }}
                </p>
                </div>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}
