{% extends 'base.html' %}

{% block head %}
<title>Shop24!</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Category</h1>

    <div class="form">
        <form action="/category/update/{{category.id}}" method="POST">
            <label style="color: white">Category Name</label> <br>
            <input type="text" name="category_name" placeholder="Category Name" value="{{category.category_name}}"><br><br>
            <input type="submit" value="Update Category">
        </form>
    </div>
</div>
{% endblock %}