{% extends 'base.html' %}

{% block head %}
<title>Shop24!</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Order</h1>

    <div class="form">
        <form action="/orders/update/{{task.id}}" method="POST">
            <label style="color: white">Customer</label> <br>
            <select name="customer_id" id="">
                {% for customer in customers %}
                    <option value="{{ customer.id }}">{{ customer.first_name}} {{ customer.last_name }}</option>
                {% endfor %}
            </select>
            
            <br><br>
            <label style="color: white">Shipment Priority</label> <br>
            <input type="number" name="shipment_priority" placeholder="Shipment Priority" value="{{task.shipment_priority}}"><br><br>
            <input type="submit" value="Update Order">
        </form>
    </div>
</div>
{% endblock %}